<h1 class="mt-3">My Tasks</h1>
<div class="m-3"> ➕<%= link_to 'Add a task', new_task_path , class: "btn btn-primary"%></div>

<ul class="m-3 list-group">
  <% @tasks.each do |task| %>
    <li class="w-25 p-3 list-group-item text-center"><%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>
